.tableScroll {
    flex: 1;
    overflow: auto;
    min-height: 0;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;

}

.tableMain tr {
  height: var(--row-height);
}

.tableMain,
.tableBody {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tableHeader {
    background: var(--header-bg);
    padding: 16px;
    position: sticky;
    top: 0;
}